html {
	font-size: 100%;
}

h1 {
	/*color:red;*/
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
}

.btn:hover {
	opacity: 0.7;
}

.btn {
	transition: opacity 0.3s;
}

.modal-content {
	box-shadow: 0 5px 16px rgba(0,0,0,0.4);
}

.modal-header .close {
    margin-top: -0.5rem;
}

.hours-date {
	font-size: 28px;
}
.listed-hours {
	font-size: 18px;
}
.modal-title .hours-date {
	font-size: inherit;
}
.content form {
	max-width: 700px;
}
.content form input[type='text'],.content form  select {
	max-width: 300px;
}
.content ul {
	padding-left: 18px;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.04);
}
.btn-navigation-tray {
	margin-bottom: 20px;
    margin-right: 20px;
	display: inline-block;
}
#hours .col-md-4{
	padding: 0 6px;
}

.content .long-form {
	max-width: 1200px;
}

.btn-default {
	border: 1px solid #dcdbdb;
}
.btn-submit{
	margin-top: 30px;
}
.btn{
	padding: .425rem .95rem;
}
.btn-top {
	margin: 30px 0 40px;
}

.vertical-toolbar {
	margin-bottom: 20px;
}

#hours_update {
	display:none;
}
.tablelike {
	display: table;
		border-collapse:separate; 
  border-spacing: 0 1em;
}
.tablelike >*{
	display: table-row;

}
.tablelike>*>* {
	display: table-cell;
}
.table td, .table th {
    vertical-align: middle;
}
.show-page > div{
	margin-bottom: 15px;
}
.meta-desc {
	font-weight: 600;
}
.copy-to-clipboard {
	margin-left: 10px;
	color: #212529;
	cursor: pointer;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}


@media (min-width: 979px) {
	ul.nav li.dropdown:hover > .dropdown-menu {
		display: block;
	}
	li.dropdown > .dropdown-menu {
		top: 94%;
	}
}






